<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cjg.pay.dao.RpUserPayConfigMapper" >
  <resultMap id="BaseResultMap" type="com.cjg.pay.pojo.po.RpUserPayConfig" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="BIGINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="audit_status" property="auditStatus" jdbcType="VARCHAR" />
    <result column="is_auto_sett" property="isAutoSett" jdbcType="VARCHAR" />
    <result column="product_code" property="productCode" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="user_no" property="userNo" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="risk_day" property="riskDay" jdbcType="INTEGER" />
    <result column="pay_key" property="payKey" jdbcType="VARCHAR" />
    <result column="fund_into_type" property="fundIntoType" jdbcType="VARCHAR" />
    <result column="pay_secret" property="paySecret" jdbcType="VARCHAR" />
    <result column="security_rating" property="securityRating" jdbcType="VARCHAR" />
    <result column="merchant_server_ip" property="merchantServerIp" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, create_time, edit_time, version, remark, status, audit_status, is_auto_sett, 
    product_code, product_name, user_no, user_name, risk_day, pay_key, fund_into_type, 
    pay_secret, security_rating, merchant_server_ip
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cjg.pay.pojo.po.RpUserPayConfigExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rp_user_pay_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from rp_user_pay_config
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from rp_user_pay_config
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.cjg.pay.pojo.po.RpUserPayConfigExample" >
    delete from rp_user_pay_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cjg.pay.pojo.po.RpUserPayConfig" >
    insert into rp_user_pay_config (id, create_time, edit_time, 
      version, remark, status, 
      audit_status, is_auto_sett, product_code, 
      product_name, user_no, user_name, 
      risk_day, pay_key, fund_into_type, 
      pay_secret, security_rating, merchant_server_ip
      )
    values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{editTime,jdbcType=TIMESTAMP}, 
      #{version,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{auditStatus,jdbcType=VARCHAR}, #{isAutoSett,jdbcType=VARCHAR}, #{productCode,jdbcType=VARCHAR}, 
      #{productName,jdbcType=VARCHAR}, #{userNo,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{riskDay,jdbcType=INTEGER}, #{payKey,jdbcType=VARCHAR}, #{fundIntoType,jdbcType=VARCHAR}, 
      #{paySecret,jdbcType=VARCHAR}, #{securityRating,jdbcType=VARCHAR}, #{merchantServerIp,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cjg.pay.pojo.po.RpUserPayConfig" >
    insert into rp_user_pay_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="editTime != null" >
        edit_time,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="auditStatus != null" >
        audit_status,
      </if>
      <if test="isAutoSett != null" >
        is_auto_sett,
      </if>
      <if test="productCode != null" >
        product_code,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="userNo != null" >
        user_no,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="riskDay != null" >
        risk_day,
      </if>
      <if test="payKey != null" >
        pay_key,
      </if>
      <if test="fundIntoType != null" >
        fund_into_type,
      </if>
      <if test="paySecret != null" >
        pay_secret,
      </if>
      <if test="securityRating != null" >
        security_rating,
      </if>
      <if test="merchantServerIp != null" >
        merchant_server_ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="isAutoSett != null" >
        #{isAutoSett,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null" >
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null" >
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="riskDay != null" >
        #{riskDay,jdbcType=INTEGER},
      </if>
      <if test="payKey != null" >
        #{payKey,jdbcType=VARCHAR},
      </if>
      <if test="fundIntoType != null" >
        #{fundIntoType,jdbcType=VARCHAR},
      </if>
      <if test="paySecret != null" >
        #{paySecret,jdbcType=VARCHAR},
      </if>
      <if test="securityRating != null" >
        #{securityRating,jdbcType=VARCHAR},
      </if>
      <if test="merchantServerIp != null" >
        #{merchantServerIp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cjg.pay.pojo.po.RpUserPayConfigExample" resultType="java.lang.Integer" >
    select count(*) from rp_user_pay_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update rp_user_pay_config
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.editTime != null" >
        edit_time = #{record.editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.version != null" >
        version = #{record.version,jdbcType=BIGINT},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.auditStatus != null" >
        audit_status = #{record.auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.isAutoSett != null" >
        is_auto_sett = #{record.isAutoSett,jdbcType=VARCHAR},
      </if>
      <if test="record.productCode != null" >
        product_code = #{record.productCode,jdbcType=VARCHAR},
      </if>
      <if test="record.productName != null" >
        product_name = #{record.productName,jdbcType=VARCHAR},
      </if>
      <if test="record.userNo != null" >
        user_no = #{record.userNo,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.riskDay != null" >
        risk_day = #{record.riskDay,jdbcType=INTEGER},
      </if>
      <if test="record.payKey != null" >
        pay_key = #{record.payKey,jdbcType=VARCHAR},
      </if>
      <if test="record.fundIntoType != null" >
        fund_into_type = #{record.fundIntoType,jdbcType=VARCHAR},
      </if>
      <if test="record.paySecret != null" >
        pay_secret = #{record.paySecret,jdbcType=VARCHAR},
      </if>
      <if test="record.securityRating != null" >
        security_rating = #{record.securityRating,jdbcType=VARCHAR},
      </if>
      <if test="record.merchantServerIp != null" >
        merchant_server_ip = #{record.merchantServerIp,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update rp_user_pay_config
    set id = #{record.id,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      edit_time = #{record.editTime,jdbcType=TIMESTAMP},
      version = #{record.version,jdbcType=BIGINT},
      remark = #{record.remark,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      audit_status = #{record.auditStatus,jdbcType=VARCHAR},
      is_auto_sett = #{record.isAutoSett,jdbcType=VARCHAR},
      product_code = #{record.productCode,jdbcType=VARCHAR},
      product_name = #{record.productName,jdbcType=VARCHAR},
      user_no = #{record.userNo,jdbcType=VARCHAR},
      user_name = #{record.userName,jdbcType=VARCHAR},
      risk_day = #{record.riskDay,jdbcType=INTEGER},
      pay_key = #{record.payKey,jdbcType=VARCHAR},
      fund_into_type = #{record.fundIntoType,jdbcType=VARCHAR},
      pay_secret = #{record.paySecret,jdbcType=VARCHAR},
      security_rating = #{record.securityRating,jdbcType=VARCHAR},
      merchant_server_ip = #{record.merchantServerIp,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cjg.pay.pojo.po.RpUserPayConfig" >
    update rp_user_pay_config
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editTime != null" >
        edit_time = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null" >
        audit_status = #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="isAutoSett != null" >
        is_auto_sett = #{isAutoSett,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null" >
        product_code = #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null" >
        user_no = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="riskDay != null" >
        risk_day = #{riskDay,jdbcType=INTEGER},
      </if>
      <if test="payKey != null" >
        pay_key = #{payKey,jdbcType=VARCHAR},
      </if>
      <if test="fundIntoType != null" >
        fund_into_type = #{fundIntoType,jdbcType=VARCHAR},
      </if>
      <if test="paySecret != null" >
        pay_secret = #{paySecret,jdbcType=VARCHAR},
      </if>
      <if test="securityRating != null" >
        security_rating = #{securityRating,jdbcType=VARCHAR},
      </if>
      <if test="merchantServerIp != null" >
        merchant_server_ip = #{merchantServerIp,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cjg.pay.pojo.po.RpUserPayConfig" >
    update rp_user_pay_config
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      audit_status = #{auditStatus,jdbcType=VARCHAR},
      is_auto_sett = #{isAutoSett,jdbcType=VARCHAR},
      product_code = #{productCode,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      user_no = #{userNo,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      risk_day = #{riskDay,jdbcType=INTEGER},
      pay_key = #{payKey,jdbcType=VARCHAR},
      fund_into_type = #{fundIntoType,jdbcType=VARCHAR},
      pay_secret = #{paySecret,jdbcType=VARCHAR},
      security_rating = #{securityRating,jdbcType=VARCHAR},
      merchant_server_ip = #{merchantServerIp,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>